:root {
  --ff: "Poppins", sans-serif;
  --bg-primary:#FA641E;
  --bg-segundary:#FF881F;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
.mrg-top-30{
  margin-top: 1.8rem;
}
.mrg-top-64{
  margin-top: 4rem;
}
.mrg-top-80{
  margin-top:5rem;
}
.mrg-bottom-16{
  margin-bottom: 1rem;
}
.mrg-bottom-24{
  margin-bottom: 1.5rem;
}

.mrg-bottom-40{
  margin-bottom: 2.5rem;
}
.pdng-left-right-40{
  padding: 0 2.5rem;
}
.pdng-left-right-64{
  padding: 0rem 4rem;
}
.display-flex{
  display: flex;
}
.gap-16{
  gap: 1rem;
}